name: Klick loggen

on:
  repository_dispatch:
    types: [log-klick]

jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Klick in Datei schreiben
        run: |
          echo "$(date -u +'%Y-%m-%dT%H:%M:%SZ') - Klick" >> counter.txt

      - name: Commit speichern
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Klick geloggt
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
